Repository radiantearth/stac-browser, changes with the owners that .github/CODEOWNERS names for each.
All owners: @m-mohr, @waystilos, @geospatial-jeff, @constantinius, @p1d1d1, @rnanclares, @jfbourgon, @mneagul

deploy: 2de888e04f0ef4f415d1e614ff0423f4ed9b731c
  index.html
  js/3108.2ab748d1.js
  js/3108.2ab748d1.js.map
  js/3108.c95c8aae.js.map
  js/3137.2e2cf305.js
  js/3137.767915ad.js
  js/7638.01106cfe.js
  js/7638.01106cfe.js.map
  js/7638.4baff762.js.map
  js/app.0bacaf82.js
  js/app.0bacaf82.js.map
  js/app.4f3238ad.js
  js/app.4f3238ad.js.map
Owners: @m-mohr

New translations fields.json (Japanese)
  src/locales/ja/fields.json
Owners: @m-mohr

New translations texts.json (Italian)
  src/locales/it/texts.json
Owners: @p1d1d1

Finished spanish translation.
  src/locales/es/texts.json
Owners: @rnanclares

Small corrections to the spanish translation
  src/locales/es/texts.json
Owners: @rnanclares

Finished spanish translation (for real).
  src/locales/es/texts.json
Owners: @rnanclares

New translations fields.json (Spanish)
  src/locales/es/fields.json
Owners: @rnanclares

New translations texts.json (Spanish)
  src/locales/es/texts.json
Owners: @rnanclares

Revert "New translations texts.json (French)"
  src/locales/fr/texts.json
Owners: @jfbourgon

Revert "New translations texts.json (Romanian)"
  src/locales/ro/texts.json
Owners: @mneagul

Revert "New translations texts.json (Japanese)"
  src/locales/ja/texts.json
Owners: @m-mohr

New Crowdin updates (#419)
  src/locales/es/fields.json
  src/locales/es/texts.json
  src/locales/it/texts.json
  src/locales/ja/fields.json
Owners: @rnanclares, @p1d1d1, @m-mohr

New translations texts.json (Japanese)
  src/locales/ja/texts.json
Owners: @m-mohr

New translations fields.json (Japanese)
  src/locales/ja/fields.json
Owners: @m-mohr

Extend request methods for Download button #356
  package.json
  public/mitm.html
  public/sw.js
  src/components/HrefActions.vue
  src/schema-org.js
  src/store/utils.js
  src/utils.js
Owners: @m-mohr

Don't log null errors
  src/store/index.js
Owners: @m-mohr

Improvements for OIDC
  src/auth/oidc.js
  src/store/auth.js
Owners: @m-mohr

Extend request methods for Download button #356
  package.json
  public/mitm.html
  public/sw.js
  src/components/HrefActions.vue
  src/schema-org.js
  src/store/utils.js
  src/utils.js
Owners: @m-mohr

add links to header
  build_index.sh
  src/index_template.html
Owners: @m-mohr

Switching language doesn't get applied in two cases #428
  src/StacBrowser.vue
  src/components/Map.vue
  src/store/index.js
  src/views/Search.vue
Owners: @m-mohr

deploy: ed7c1e2466ac0874b539e797e9e58fff118e2c7c
  css/4891.e1a758d9.css
  css/8740.4149415b.css
  index.html
  js/1119.880aee8a.js
  js/1119.880aee8a.js.map
  js/3935.549c75d8.js
  js/3935.549c75d8.js.map
  js/3935.8cec5e44.js
  js/3935.8cec5e44.js.map
  js/4527.1c2fb75f.js
  js/4527.1c2fb75f.js.map
  js/4527.c0f78b18.js
  js/4527.c0f78b18.js.map
  js/4701.78d0d6f9.js
  js/4701.78d0d6f9.js.map
  js/4891.1feef9b2.js
  js/4891.1feef9b2.js.map
  js/8740.0544698e.js
  js/8740.0544698e.js.map
  js/app.556ead46.js
  js/app.556ead46.js.map
  js/app.67e167dd.js
  js/app.67e167dd.js.map
  js/chunk-vendors.4e8746c3.js.map
  js/chunk-vendors.caa8c9b8.js
  js/chunk-vendors.caa8c9b8.js.map
Owners: @m-mohr

Shows multi-select and datepicker components over map
  src/components/SearchFilter.vue
Owners: @m-mohr

deploy: 8d25c40d3f7b12f8d5cadac9266d671bcc75096c
  css/21.c6830b09.css
  css/2576.8c12da5a.css
  css/3942.f55423e0.css
  css/4891.e1a758d9.css
  index.html
  js/1050.9c1a40d1.js
  js/1050.9c1a40d1.js.map
  js/21.1a047bb3.js
  js/21.1a047bb3.js.map
  js/3935.8cec5e44.js
  js/3935.8cec5e44.js.map
  js/4891.1feef9b2.js
  js/4891.1feef9b2.js.map
  js/app.556ead46.js
  js/app.556ead46.js.map
  js/app.ac9dfacd.js
  js/app.ac9dfacd.js.map
Owners: @m-mohr

3.2.0-rc.1
  README.md
  package.json
Owners: @m-mohr

deploy: 3fa785fc805e98fc0168d6f38a252821d73fa6c7
  index.html
  js/app.ac9dfacd.js
  js/app.ac9dfacd.js.map
  js/app.ae96ad64.js
  js/app.ae96ad64.js.map
Owners: @m-mohr

Show better message for empty results that occur when following a next link. #426
  src/locales/de/texts.json
  src/locales/en/texts.json
  src/views/Search.vue
Owners: @m-mohr

deploy: 90478729950cf61471396b588dded0516b716657
  css/151.c6830b09.css
  index.html
  js/151.750328d0.js
  js/151.750328d0.js.map
  js/21.1a047bb3.js
  js/21.1a047bb3.js.map
  js/2862.5591b197.js.map
  js/2862.c05a42a4.js
  js/2862.c05a42a4.js.map
  js/2963.9f2eb1c1.js
  js/2963.d3e71387.js
  js/6886.724358a2.js
  js/6886.724358a2.js.map
  js/6886.7473548c.js
  js/6886.7473548c.js.map
  js/968.02936d69.js.map
  js/968.d8a86504.js
  js/968.d8a86504.js.map
  js/app.a40ea016.js
  js/app.a40ea016.js.map
  js/app.ae96ad64.js
  js/app.ae96ad64.js.map
Owners: @m-mohr

New translations texts.json (Romanian)
  src/locales/ro/texts.json
Owners: @mneagul

New translations texts.json (French)
  src/locales/fr/texts.json
Owners: @jfbourgon

New translations texts.json (Spanish)
  src/locales/es/texts.json
Owners: @rnanclares

New translations texts.json (German)
  src/locales/de/texts.json
Owners: @m-mohr

New translations texts.json (Italian)
  src/locales/it/texts.json
Owners: @p1d1d1

New translations texts.json (Japanese)
  src/locales/ja/texts.json
Owners: @m-mohr

Update source file texts.json
  src/locales/en/texts.json
Owners: @m-mohr

New translations texts.json (Spanish)
  src/locales/es/texts.json
Owners: @rnanclares

New translations texts.json (Italian)
  src/locales/it/texts.json
Owners: @p1d1d1

New translations texts.json (French)
  src/locales/fr/texts.json
Owners: @jfbourgon

New translations fields.json (French)
  src/locales/fr/fields.json
Owners: @jfbourgon

Fix z-index issue with additional filters
  src/components/SearchFilter.vue
Owners: @m-mohr

deploy: af214586b7b4b92b079f8b4ea0ce21f994893edc
  css/3292.c6830b09.css
  css/8485.f55423e0.css
  index.html
  js/1050.9c1a40d1.js
  js/1050.9c1a40d1.js.map
  js/151.750328d0.js
  js/151.750328d0.js.map
  js/2754.d3755129.js
  js/2754.d3755129.js.map
  js/3292.9838f332.js
  js/3292.9838f332.js.map
  js/app.a40ea016.js
  js/app.a40ea016.js.map
  js/app.fee4816b.js
  js/app.fee4816b.js.map
  js/chunk-vendors.41682e29.js
  js/chunk-vendors.41682e29.js.map
  js/chunk-vendors.caa8c9b8.js.map
Owners: @m-mohr

.github/CODEOWNERS:

* @m-mohr
docker/ @waystilos @geospatial-jeff @constantinius
Dockerfile @waystilos @geospatial-jeff @constantinius
src/locales/de-CH @p1d1d1
src/locales/es @rnanclares
src/locales/fr @jfbourgon
src/locales/fr-CA @jfbourgon
src/locales/fr-CH @p1d1d1
src/locales/it @p1d1d1
src/locales/it-CH @p1d1d1
src/locales/ro @mneagul
