Repository radiantearth/stac-browser, changes with the owners that .github/CODEOWNERS names for each.
All owners: @m-mohr, @waystilos, @geospatial-jeff, @constantinius, @p1d1d1, @rnanclares, @jfbourgon, @mneagul

update README
  README.md
Owners: @m-mohr

Add Japanese locale (#417)
  README.md
  config.js
  src/locales/ja/config.json
  src/locales/ja/custom.json
  src/locales/ja/datepicker.js
  src/locales/ja/default.js
  src/locales/ja/duration.js
  src/locales/ja/fields.json
  src/locales/ja/texts.json
Owners: @m-mohr

New translations fields.json (Japanese)
  src/locales/ja/fields.json
Owners: @m-mohr

New translations texts.json (Japanese)
  src/locales/ja/texts.json
Owners: @m-mohr

Clean-up Japanese
  src/locales/ja/datepicker.js
  src/locales/ja/default.js
  src/locales/ja/duration.js
  src/locales/ja/fields.json
  src/locales/ja/texts.json
Owners: @m-mohr

deploy: 93262441d02410e45551cd0a505c47ba4341e2f7
  index.html
  js/286.3845750c.js
  js/286.3845750c.js.map
  js/286.a27d2815.js.map
  js/4964.2bee5779.js
  js/4964.2bee5779.js.map
  js/4964.2c907e59.js
  js/4964.2c907e59.js.map
  js/675.2aa52a42.js.map
  js/675.56deb231.js
  js/675.56deb231.js.map
  js/app.a67fb9d3.js
  js/app.a67fb9d3.js.map
  js/app.c186c8c2.js
  js/app.c186c8c2.js.map
Owners: @m-mohr

New translations texts.json (Japanese)
  src/locales/ja/texts.json
Owners: @m-mohr

Improved auth extension integration
  docs/options.md
  src/StacBrowser.vue
  src/auth/oidc.js
  src/browser-store.js
  src/components/HrefActions.vue
  src/locales/de/texts.json
  src/store/auth.js
  src/store/index.js
  src/views/AuthCallback.vue
Owners: @m-mohr

New translations texts.json (Romanian)
  src/locales/ro/texts.json
Owners: @mneagul

New translations texts.json (French)
  src/locales/fr/texts.json
Owners: @jfbourgon

New translations texts.json (Spanish)
  src/locales/es/texts.json
Owners: @rnanclares

New translations texts.json (German)
  src/locales/de/texts.json
Owners: @m-mohr

New translations texts.json (Italian)
  src/locales/it/texts.json
Owners: @p1d1d1

New translations texts.json (Japanese)
  src/locales/ja/texts.json
Owners: @m-mohr

Implement localized validation messages #416
  README.md
  package.json
  src/components/ValidationResult.vue
  src/locales/de-CH/validation.js
  src/locales/de/texts.json
  src/locales/de/validation.js
  src/locales/en-GB/validation.js
  src/locales/en/texts.json
  src/locales/en/validation.js
  src/locales/es/validation.js
  src/locales/fr-CA/validation.js
  src/locales/fr-CH/validation.js
  src/locales/fr/validation.js
  src/locales/it-CH/validation.js
  src/locales/it/validation.js
  src/locales/ja/validation.js
  src/locales/ro/validation.js
  src/views/Validation.vue
Owners: @m-mohr, @p1d1d1, @rnanclares, @jfbourgon, @mneagul

Update source file texts.json
  src/locales/en/texts.json
Owners: @m-mohr

New translations texts.json (Romanian)
  src/locales/ro/texts.json
Owners: @mneagul

New translations texts.json (French)
  src/locales/fr/texts.json
Owners: @jfbourgon

New translations texts.json (Spanish)
  src/locales/es/texts.json
Owners: @rnanclares

New translations texts.json (German)
  src/locales/de/texts.json
Owners: @m-mohr

New translations texts.json (Italian)
  src/locales/it/texts.json
Owners: @p1d1d1

New translations texts.json (Japanese)
  src/locales/ja/texts.json
Owners: @m-mohr

deploy: cfcea1be66808fe2d6f93cd78eb81cac34fdb5cc
  index.html
  js/6886.11b0bb1d.js
  js/6886.11b0bb1d.js.map
  js/6886.a9ce1c64.js
  js/6886.a9ce1c64.js.map
  js/app.502c5692.js
  js/app.502c5692.js.map
  js/app.90c3f89d.js
  js/app.90c3f89d.js.map
Owners: @m-mohr

Clarify docs
  README.md
Owners: @m-mohr

Update source file texts.json
  src/locales/en/texts.json
Owners: @m-mohr

New translations texts.json (Japanese)
  src/locales/ja/texts.json
Owners: @m-mohr

New translations texts.json (Japanese)
  src/locales/ja/texts.json
Owners: @m-mohr

Spanish translation, only depsCount property left to translate
  src/locales/es/texts.json
Owners: @rnanclares

New translations texts.json (Japanese)
  src/locales/ja/texts.json
Owners: @m-mohr

New translations texts.json (Japanese)
  src/locales/ja/texts.json
Owners: @m-mohr

Workaround for empty strings, remove empty strings, lint
  src/components/ValidationResult.vue
  src/i18n.js
  src/locales/es/texts.json
  src/locales/fr/texts.json
  src/locales/it/texts.json
  src/locales/ja/texts.json
  src/locales/ro/texts.json
Owners: @m-mohr, @rnanclares, @jfbourgon, @p1d1d1, @mneagul

I18N Updates (#414)
  src/components/ValidationResult.vue
  src/i18n.js
  src/locales/de/fields.json
  src/locales/de/texts.json
  src/locales/es/texts.json
  src/locales/fr/texts.json
  src/locales/it/fields.json
  src/locales/it/texts.json
  src/locales/ja/fields.json
  src/locales/ja/texts.json
  src/locales/ro/texts.json
Owners: @m-mohr, @rnanclares, @jfbourgon, @p1d1d1, @mneagul

deploy: 2904fd210efcaf54ae4a893d20326e9eeafe664c
  css/3545.2412eeb4.css
  index.html
  js/1781.04a63343.js
  js/1781.04a63343.js.map
  js/2862.185e47a6.js.map
  js/2862.95ec4140.js
  js/2862.95ec4140.js.map
  js/2963.67ce9c1a.js
  js/2963.cd03f24e.js
  js/3022.1aa42ca4.js
  js/3022.1aa42ca4.js.map
  js/3022.eec46532.js
  js/3022.eec46532.js.map
  js/3108.7c9781c8.js.map
  js/3108.c95c8aae.js
  js/3108.c95c8aae.js.map
  js/3137.2e2cf305.js
  js/3137.6787e9d5.js
  js/3545.716e752d.js
  js/3545.716e752d.js.map
  js/4964.2bee5779.js
  js/4964.2bee5779.js.map
  js/4964.2ffc0aa0.js
  js/4964.2ffc0aa0.js.map
  js/6380.1d03a629.js
  js/6380.60f879a5.js
  js/7638.4baff762.js
  js/7638.4baff762.js.map
  js/7638.b3260027.js.map
  js/9113.08c4410b.js
  js/9113.08c4410b.js.map
  js/9113.be3f3033.js
  js/9113.be3f3033.js.map
  js/968.af06404e.js
  js/968.af06404e.js.map
  js/968.c84d12d9.js.map
  js/app.4f3238ad.js
  js/app.4f3238ad.js.map
  js/app.502c5692.js
  js/app.502c5692.js.map
Owners: @m-mohr

New translations texts.json (Romanian)
  src/locales/ro/texts.json
Owners: @mneagul

New translations texts.json (French)
  src/locales/fr/texts.json
Owners: @jfbourgon

New translations texts.json (Spanish)
  src/locales/es/texts.json
Owners: @rnanclares

New translations texts.json (Italian)
  src/locales/it/texts.json
Owners: @p1d1d1

New translations fields.json (Japanese)
  src/locales/ja/fields.json
Owners: @m-mohr

New translations texts.json (Japanese)
  src/locales/ja/texts.json
Owners: @m-mohr

Add Italian locales
  src/locales/it/texts.json
Owners: @p1d1d1

.github/CODEOWNERS:

* @m-mohr
docker/ @waystilos @geospatial-jeff @constantinius
Dockerfile @waystilos @geospatial-jeff @constantinius
src/locales/de-CH @p1d1d1
src/locales/es @rnanclares
src/locales/fr @jfbourgon
src/locales/fr-CA @jfbourgon
src/locales/fr-CH @p1d1d1
src/locales/it @p1d1d1
src/locales/it-CH @p1d1d1
src/locales/ro @mneagul
