Repository radiantearth/stac-browser, changes with the owners that .github/CODEOWNERS names for each.
All owners: @m-mohr, @waystilos, @geospatial-jeff, @constantinius, @p1d1d1, @rnanclares, @jfbourgon, @mneagul

clean-up
  config.js
Owners: @m-mohr

disallow external access and enable whitelisting catalogs
  config.js
  src/views/Browse.vue
Owners: @m-mohr

Fix unused vars and switched auth icons
  src/components/StacHeader.vue
  src/store/index.js
Owners: @m-mohr

Basic support for the authentication extension #81
  config.schema.json
  docs/options.md
  src/StacBrowser.vue
  src/auth/index.js
  src/auth/oidc.js
  src/auth/userinput.js
  src/components/AssetAlternative.vue
  src/components/AuthSchemeItem.vue
  src/components/HrefActions.vue
  src/components/Link.vue
  src/components/Links.vue
  src/components/ViewMixin.js
  src/components/auth/utils.js
  src/locales/de/texts.json
  src/locales/en/texts.json
  src/store/auth.js
  src/store/index.js
  src/views/Catalog.vue
  src/views/Item.vue
  src/views/Search.vue
Owners: @m-mohr

No local variables #400 (#401)
  docker/docker-entrypoint.sh
Owners: @waystilos, @geospatial-jeff, @constantinius

JS-based validation with results #307
  README.md
  config.js
  config.schema.json
  docs/options.md
  package.json
  src/StacBrowser.vue
  src/components/ErrorAlert.vue
  src/components/SearchFilter.vue
  src/components/Source.vue
  src/components/StacHeader.vue
  src/components/Validation.vue
  src/components/ValidationResult.vue
  src/locales/de/texts.json
  src/locales/en/texts.json
  src/router/index.js
  src/store/index.js
  src/views/Browse.vue
  src/views/BrowseMixin.js
  src/views/Validation.vue
Owners: @m-mohr

Deprecate stacLint option
  docs/options.md
Owners: @m-mohr

New translations fields.json (Romanian)
  src/locales/ro/fields.json
Owners: @mneagul

New translations fields.json (French)
  src/locales/fr/fields.json
Owners: @jfbourgon

New translations fields.json (Spanish)
  src/locales/es/fields.json
Owners: @rnanclares

New translations fields.json (Italian)
  src/locales/it/fields.json
Owners: @p1d1d1

New translations texts.json (Romanian)
  src/locales/ro/texts.json
Owners: @mneagul

New translations texts.json (French)
  src/locales/fr/texts.json
Owners: @jfbourgon

New translations texts.json (Spanish)
  src/locales/es/texts.json
Owners: @rnanclares

New translations texts.json (Italian)
  src/locales/it/texts.json
Owners: @p1d1d1

Remvoe empty strings
  src/locales/es/texts.json
  src/locales/fr/texts.json
  src/locales/it/texts.json
  src/locales/ro/texts.json
Owners: @rnanclares, @jfbourgon, @p1d1d1, @mneagul

Fix order in l10n files (#413)
  src/locales/es/fields.json
  src/locales/fr/fields.json
  src/locales/it/fields.json
  src/locales/ro/fields.json
Owners: @rnanclares, @jfbourgon, @p1d1d1, @mneagul

deploy: 7ef89dc22773b4063d94cbc5b6d440152abd2f2d
  index.html
  js/3022.1aa42ca4.js
  js/3022.1aa42ca4.js.map
  js/3022.e94735b8.js
  js/3022.e94735b8.js.map
  js/3137.0fc70e4c.js
  js/3137.6787e9d5.js
  js/6380.11ae5a34.js
  js/6380.1d03a629.js
  js/9113.08c4410b.js
  js/9113.08c4410b.js.map
  js/9113.3f18778e.js
  js/9113.3f18778e.js.map
  js/app.08e5d51c.js
  js/app.08e5d51c.js.map
  js/app.69aed76d.js
  js/app.69aed76d.js.map
Owners: @m-mohr

Add en-GB locales (#410)
  config.js
  src/locales/en-GB/config.json
  src/locales/en-GB/datepicker.js
  src/locales/en-GB/default.js
  src/locales/en-GB/duration.js
  src/locales/en-GB/fields.json
  src/locales/en-GB/texts.json
Owners: @m-mohr

deploy: bfcf48fd8548a0de56b0aec9cafe19317cff630c
  index.html
  js/1472.429c9191.js
  js/1472.429c9191.js.map
  js/1472.b7dd5c48.js
  js/1472.b7dd5c48.js.map
  js/2605.263f7696.js
  js/2605.263f7696.js.map
  js/3170.87ef5ea7.js
  js/3170.87ef5ea7.js.map
  js/7455.7826edc3.js
  js/7455.7826edc3.js.map
  js/7455.e8cfe0c2.js
  js/7455.e8cfe0c2.js.map
  js/7843.5c1315d6.js
  js/7843.5c1315d6.js.map
  js/9091.bd7bdf3b.js
  js/9091.bd7bdf3b.js.map
  js/9091.d0c3c43f.js
  js/9091.d0c3c43f.js.map
  js/app.69aed76d.js
  js/app.69aed76d.js.map
  js/app.7c8f9714.js
  js/app.7c8f9714.js.map
Owners: @m-mohr

Final polish
  src/components/ValidationResult.vue
  src/locales/de/texts.json
  src/locales/en/texts.json
  src/views/Validation.vue
Owners: @m-mohr

JS-based validation with results / remove stacLint (#412)
  README.md
  config.js
  config.schema.json
  docs/options.md
  package.json
  src/StacBrowser.vue
  src/components/ErrorAlert.vue
  src/components/SearchFilter.vue
  src/components/Source.vue
  src/components/StacHeader.vue
  src/components/Validation.vue
  src/components/ValidationResult.vue
  src/locales/de/texts.json
  src/locales/en/texts.json
  src/router/index.js
  src/store/index.js
  src/views/Browse.vue
  src/views/BrowseMixin.js
  src/views/Validation.vue
Owners: @m-mohr

Update source file texts.json
  src/locales/en/texts.json
Owners: @m-mohr

New translations texts.json (Romanian)
  src/locales/ro/texts.json
Owners: @mneagul

New translations texts.json (French)
  src/locales/fr/texts.json
Owners: @jfbourgon

New translations texts.json (Spanish)
  src/locales/es/texts.json
Owners: @rnanclares

New translations texts.json (German)
  src/locales/de/texts.json
Owners: @m-mohr

New translations texts.json (Italian)
  src/locales/it/texts.json
Owners: @p1d1d1

Histogram is not displayed for all assets #385
  src/components/metadata/Histogram.vue
  src/components/metadata/MetadataEntry.vue
Owners: @m-mohr

deploy: f8ee879cbf16c29b5876360a95f0e2f1043b356c
  css/3047.45781634.css
  css/5428.45781634.css
  css/7312.81053aa2.css
  index.html
  js/1472.b7dd5c48.js
  js/1472.b7dd5c48.js.map
  js/1802.61a8b0c4.js
  js/1802.61a8b0c4.js.map
  js/1802.ad8a9a5c.js
  js/1802.ad8a9a5c.js.map
  js/3047.5d805fe9.js
  js/3047.5d805fe9.js.map
  js/449.7ddea886.js
  js/449.7ddea886.js.map
  js/449.8514c1e0.js
  js/449.8514c1e0.js.map
  js/5428.e990ca20.js
  js/5428.e990ca20.js.map
  js/5867.0ace1066.js
  js/5867.0ace1066.js.map
  js/5867.9886a921.js
  js/5867.9886a921.js.map
  js/6780.06bb2bbd.js
  js/6780.06bb2bbd.js.map
  js/6780.829c6873.js
  js/6780.829c6873.js.map
  js/7312.6cfa0045.js
  js/7312.6cfa0045.js.map
  js/9091.bd7bdf3b.js
  js/9091.bd7bdf3b.js.map
  js/9930.b741e509.js
  js/9930.b741e509.js.map
  js/app.1f200887.js
  js/app.1f200887.js.map
  js/app.43ec665c.js
  js/app.43ec665c.js.map
Owners: @m-mohr

Update version number
  package.json
Owners: @m-mohr

deploy: 3405c7745aad31b2dee21fa9dc4f83036763d477
  index.html
  js/5788.7fc68be9.js.map
  js/5788.978fdcb9.js
  js/5788.978fdcb9.js.map
  js/8940.0a1f7cdd.js
  js/8940.0a1f7cdd.js.map
  js/8940.dc65f420.js.map
  js/app.1f200887.js
  js/app.1f200887.js.map
  js/app.719536cb.js
  js/app.719536cb.js.map
Owners: @m-mohr

Update source file texts.json
  src/locales/en/texts.json
Owners: @m-mohr

update communities link
  src/index_template.html
Owners: @m-mohr

New translations texts.json (Italian)
  src/locales/it/texts.json
Owners: @p1d1d1

New translations fields.json (German)
  src/locales/de/fields.json
Owners: @m-mohr

New translations fields.json (Italian)
  src/locales/it/fields.json
Owners: @p1d1d1

add Japanese locale
  config.js
  src/locales/ja/config.json
  src/locales/ja/custom.json
  src/locales/ja/datepicker.js
  src/locales/ja/default.js
  src/locales/ja/duration.js
  src/locales/ja/fields.json
  src/locales/ja/texts.json
Owners: @m-mohr

Fix: Validation fails for URIs without a host (e.g. file:///...) #415
  package.json
Owners: @m-mohr

deploy: 0ee7ee6e4088a233280219e09d992043a0096f6f
  index.html
  js/287.3fc975ee.js
  js/287.3fc975ee.js.map
  js/287.45bacbc4.js.map
  js/3935.6f6f3744.js
  js/3935.6f6f3744.js.map
  js/3935.f73ffd09.js
  js/3935.f73ffd09.js.map
  js/5788.7fc68be9.js
  js/5788.7fc68be9.js.map
  js/5788.978fdcb9.js.map
  js/8940.0a1f7cdd.js.map
  js/8940.dc65f420.js
  js/8940.dc65f420.js.map
  js/app.10968a9f.js
  js/app.10968a9f.js.map
  js/app.719536cb.js
  js/app.719536cb.js.map
  js/chunk-vendors.e9e2113f.js.map
  js/chunk-vendors.fbbbdc00.js
  js/chunk-vendors.fbbbdc00.js.map
Owners: @m-mohr

.github/CODEOWNERS:

* @m-mohr
docker/ @waystilos @geospatial-jeff @constantinius
Dockerfile @waystilos @geospatial-jeff @constantinius
src/locales/de-CH @p1d1d1
src/locales/es @rnanclares
src/locales/fr @jfbourgon
src/locales/fr-CA @jfbourgon
src/locales/fr-CH @p1d1d1
src/locales/it @p1d1d1
src/locales/it-CH @p1d1d1
src/locales/ro @mneagul
