Repository radiantearth/stac-browser, changes with the owners that .github/CODEOWNERS names for each.
All owners: @m-mohr, @waystilos, @geospatial-jeff, @constantinius, @p1d1d1, @rnanclares, @jfbourgon, @mneagul

Clean-up
  src/locales/ja/texts.json
  src/locales/ro/texts.json
Owners: @m-mohr, @mneagul

New Crowdin updates (#424)
  src/locales/es/texts.json
  src/locales/fr/fields.json
  src/locales/fr/texts.json
  src/locales/it/texts.json
  src/locales/ja/fields.json
  src/locales/ro/texts.json
Owners: @rnanclares, @jfbourgon, @p1d1d1, @m-mohr, @mneagul

deploy: cbfca0f8b20f1ce2fb44e2c4805471ea80f883dd
  index.html
  js/1082.aaa22f84.js.map
  js/1082.e6c815b5.js
  js/1082.e6c815b5.js.map
  js/1589.3fb3575a.js
  js/1589.3fb3575a.js.map
  js/1589.91435aaa.js.map
  js/3022.588c7360.js
  js/3022.588c7360.js.map
  js/3022.94275283.js
  js/3022.94275283.js.map
  js/3108.58f9ab9b.js.map
  js/3108.94334c4b.js
  js/3108.94334c4b.js.map
  js/3137.31efb44d.js
  js/3137.f292f6b6.js
  js/4545.5e231dd8.js.map
  js/4545.808f7764.js
  js/4545.808f7764.js.map
  js/4964.575ed7a8.js
  js/4964.575ed7a8.js.map
  js/4964.5d86a3ac.js
  js/4964.5d86a3ac.js.map
  js/6380.5707bb02.js
  js/6380.6819d287.js
  js/7638.97321d4f.js.map
  js/7638.ee9fe453.js
  js/7638.ee9fe453.js.map
  js/9113.17005799.js
  js/9113.17005799.js.map
  js/9113.55b8e3ac.js
  js/9113.55b8e3ac.js.map
  js/app.d4e3b02c.js
  js/app.d4e3b02c.js.map
  js/app.fee4816b.js
  js/app.fee4816b.js.map
Owners: @m-mohr

New translations texts.json (Romanian)
  src/locales/ro/texts.json
Owners: @mneagul

New translations texts.json (Japanese)
  src/locales/ja/texts.json
Owners: @m-mohr

3.2.0
  .gitignore
  README.md
  package-lock.json
  package.json
  src/locales/en/fields.json
Owners: @m-mohr

deploy: 06de54fdca5a2b3f8f3ca27f3db0786dc630ee9d
  index.html
  js/app.afef6482.js
  js/app.afef6482.js.map
  js/app.d4e3b02c.js
  js/app.d4e3b02c.js.map
Owners: @m-mohr

Update source file fields.json
  src/locales/en/fields.json
Owners: @m-mohr

Clarify README
  README.md
Owners: @m-mohr

fixed spelling errors in readme
  README.md
Owners: @m-mohr

fixed spelling errors in readme (#434)
  README.md
Owners: @m-mohr

Starting with pt-BR language support
  src/locales/pt-BR/config.json
  src/locales/pt-BR/custom.json
  src/locales/pt-BR/datepicker.js
  src/locales/pt-BR/default.js
  src/locales/pt-BR/duration.js
  src/locales/pt-BR/fields.json
  src/locales/pt-BR/texts.json
  src/locales/pt-BR/validation.js
Owners: @m-mohr

Add pt-BR to supportedLocales
  config.js
Owners: @m-mohr

Update README (include pt-BR)
  README.md
Owners: @m-mohr

.github/CODEOWNERS:

* @m-mohr
docker/ @waystilos @geospatial-jeff @constantinius
Dockerfile @waystilos @geospatial-jeff @constantinius
src/locales/de-CH @p1d1d1
src/locales/es @rnanclares
src/locales/fr @jfbourgon
src/locales/fr-CA @jfbourgon
src/locales/fr-CH @p1d1d1
src/locales/it @p1d1d1
src/locales/it-CH @p1d1d1
src/locales/ro @mneagul
